header {
    width: 100%;
    position: relative;
}

body {
    margin: 0%;
}

.container-fluid a {
    color: #3b6ad7;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 8px #646969;
}

.container-fluid a:hover {
    color: #000;
}

.navbar-nav {
    margin-left: auto;
}

.bannerimg h1 {
    position: fixed;
    background-image: url("./Content/Carlos_Nieto_3.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    font-size: 0px;
}

.imagename {
    display: flex;
    position: fixed;
    top: 490px;
    text-shadow: 2px 2px 6px rgb(247, 243, 243);
    left: 25%;
    font-size: 40px;
}

.imagename h1{
    font-size: 60px;
}

main {
    width: 100%;
    position: relative;
    top: 815px;
    box-shadow: -1px 0px 10px #b2b9bc;
    background-color: #f5f5f5;
}

.intro {
    text-align: center;
    background-color: #c5c5ce;
    border-radius: 0.5%;
    font-size: 30px;
    margin: 1% 6% 0% 6%;
    padding: 30px 80px;

}

.intro button {
    font-size: 0px;
    color: white;
    margin: 6px 0px;
    background-color: #5c7fd2;
    border-radius: 3%;
    box-shadow: 1px 1px 10px #646969;
    border: none;
}

.intro button::after {
    font-size: 30px;
    content: "Resume";
}

.intro button:hover::after{
    content: "Download";
}

.logosection {
    display: flex;
    text-align: center;
    margin-top: 60px;
}

.logosection img {
    overflow: auto;
}

.codinggif {
    margin-top: 3%;
    margin-left: 3%;
    flex-wrap: nowrap;
}

.codinggif img {
    height: 90%;
    margin: 10px 30px 30px;
}

.skillmainsection {
    margin-bottom: 5%;
}

.skillsec {
    margin: 8% 2% 8% 3%;
    background-color: #c5c5ce;
    border-radius: 0.5%;
    padding: 7% 0%;
}

.skillssec2 {
    text-align: center;
    font-size: 25px;
    padding: 4px 10px;
    margin: 5px;
}

.skillsec2 li {
    text-align: center;
    list-style: none;
    font-size: 25px;
    padding: 5px;
    margin-right: 8%;
}

.skillssec1 {
    font-size: 40px;
    margin-right: 4%;
}

.footerproject {
    margin-bottom: 2%;
    margin-top: 3%;
}

.leftfooter1 {
    font-size: 20px;
    text-align: center;
}

.leftfooter1 a {
    display: block;
    padding: .5%;
    color: rgb(3, 107, 148);
    text-decoration: none;
}

.leftfooter1 a:hover, .footerright1 a:hover {
    color: #3b6ad7;
    text-shadow: 2px 1px 8px #363839;
}

.footer1 {
    display: flex;
    background-color: #b2b9bc;
}

.footerright1 {
    margin-top: 1%;
}

.footerright1 a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    margin: 3%;
    color: rgb(3, 107, 148);
}

.stickyicon-list {
margin-top: 5px;
}

.stickyicon-list a {
    display: block;
    text-align: center;
    padding: 8px;
    margin: 25px 90px 0px 90px;
    transition: all 1s ease;
    color: white;
    font-size: 20px;
}

.stickyicon-list a:hover {
    color: #000;
}

.linkedin {
    background: #0e76a8;
    color: white;
    box-shadow: 3px 2px 8px #363839;
}

.google {
    color: white;
    background: #db4a39;
    box-shadow: 3px 2px 8px #363839;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none; 
    background-color: #3b6ad7; 
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

/* Contact section */

.bannerimgC h1 {
    position: fixed;
    background-image: url("./Content/blue_marble.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    margin-top: 0%;
    font-size: 0px;
}

.maincontact {
    display: flex;
    top: 70px;
    margin: 5% 26% 5%;
    padding: 3% 3%;
    width: 49%;
    box-shadow: -1px 0 10px #b2b9bc;
    background-color: #f5f5f5;
    justify-content: center;
}

.contactform2 {
    text-align: left;
}

#namesec, #emailsec, #commentsec {
    width: 80%;
    height: 1.5rem;
    margin-left: 10%;
}

#commentsec {
    height: 10rem;
}

.contactform2 h1 {
    display: flex;
    flex-wrap: nowrap;
    font-size: 100px;
    margin-bottom: 9%;
}

.contacthead {
    margin-bottom: 10px;
    margin-top: 0%;
    text-decoration: underline;
}

.contactform2 label {
    display: flex;
    font-size: 50px;
    padding: 0%;
    margin-left: 5%;
}

#namesec, #emailsec {
    height: 40px;
}

.submitbuttonsection {
    display: flex;
    font-size: 40px;
    border: 1.5px solid #000000;
    margin: 5% 0% 0% 38%;
}

.footercontact {
    width: 100%;
    position: relative;
    top: 120px;
    box-shadow: -1px 0 10px #b2b9bc;
    background-color: #f5f5f5;
}

.row {
    display: flex;
    width: 100%;
    margin: 0%;
    flex-wrap: nowrap;
}

.col-1 {
    width: 8.33%;
    flex: 1 1 auto;
}

.col-2 {
    width: 16.66%;
    flex: 1 1 auto;
}

.col-3 {
    width: 25%;
    flex: 1 1 auto;
}

.col-4 {
    width: 33.33%;
    flex: 1 1 auto;
}

.col-5 {
    width: 41.66%;
    flex: 1 1 auto;
}

.col-6 {
    width: 50%;
    flex: 1 1 auto;
}

.col-7 {
    width: 58.33%;
    flex: 1 1 auto;
}

.col-8 {
    width: 66.66%;
    flex: 1 1 auto;
}

.col-9 {
    width: 75%;
    flex: 1 1 auto;
}

.col-10 {
    width: 83.33%;
    flex: 1 1 auto;
}

.col-11 {
    width: 91.66%;
    flex: 1 1 auto;
}

.col-12 {
    width: 100%;
    flex: 1 1 auto;
}

/* media Q */

@media only screen and (max-width: 1200px){
    .codinggif {
        overflow: hidden;
    }

    .stickyicon-list a {
        margin: 15px 0px 0px 0px;
    }

    .imagename {
        left: 25%;
    }

    .imagename h1 {
        font-size: 60px;
    }

    .row {
        flex-wrap: nowrap;
    }

    /* Contact @media section */

    .maincontact {
        margin: 5% 20% 5%;
        width: 61%;
        padding: 5% 4%;
        justify-content: center;
    }

    .contacthead {
        margin-left: 0px;
    }

    .contactform2 h1{
       font-size: 75px; 
    }

    .contactform2 label {
        font-size: 40px;
        margin-left: 0%;
    }

    #namesec, #emailsec, #commentsec {
        margin-left: 8%;
    }

    .submitbuttonsection {
        margin-left: 40%;
    }

    .contactsticky {
        margin-top: 11px;
    }
}

@media only screen and (max-width: 780px){
    .imagename {
        left: 90px;
    }

    .codinggif {
        margin-left: 13%;
    }

    .stickyicon-list a {
        margin: 15px 0px 0px 0px;
    }

    .row {
        flex-wrap: wrap;
    }

    .maincontact {
        margin: 5% 16% 5%;
        width: 66%;
        padding: 5% 5%;
    }

    .contacthead {
        margin-left: 0%;
    }

    .contactform2 {
        margin-left: 5%;
    }
    
    .contactform2 h1{
        font-size: 60px; 
     }

    .contactform2 label {
        font-size: 30px;
        margin-left: 5%;
    }

    .submitbuttonsection {
        align-content: center;
        margin-left: 25%;
    }

    #namesec, #emailsec, #commentsec {
        margin-left: 5%;
    }
}

@media only screen and (min-width: 340px) and (max-width: 550px){
    .bannerimg h1 {
        position: fixed;
        background-image: url("./Content/Carlos_Nieto_small.png");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    main {
        width: 100%;
        top: 680px;
    }

    .intro {
        font-size: 17px;
        padding: 2%;
    }

    .codinggif {
        margin: 30px 0px 0px 0px;
    }

    .codinggif img{
        margin: 0%;
        width: 100%;
    }

    .logosection1 {
        flex-direction: column;
        align-content: center;
    }

    .logosection {
        margin-top: 80px;
    }

    .skillsec {
        margin-top: 0px;
    }

    .footerpos {
        flex-direction: column;
        align-content: center;
    }

    .imagename {
        top: 350px;
    }

    .maincontact {
        margin: 5% 5% 5%;
        width: 90%;
    }

    .contactform2 {
        margin-left: 0%;
    }

    .contactform2 h1 {
        font-size: 44px;
    }

    .contactform2 label {
        font-size: 32px;
    }

    #namesec, #emailsec, #commentsec {
        margin-left: 10%;
    } 

    .footerright1 {
        margin-top: 4%;
    }

    .footerright1 a {
        margin-top: 10px;
    }

    .stickyicon-list a {
        margin: 15px -70px 0px -57px;
    }
}